* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    background-color: rgb(29, 52, 205);
    width: 100%;
}
.logo {
    margin-left: 35px;
    margin-top: 15px;
}
.boxes {
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(78, 192, 231);
    margin: 20px;
}
.row{
    display: flex;
    width: 100%;
    flex-direction:column ;
    justify-content: center;
}
.col-30 {
    width: 100%;
}
.col-68{
    width:100%;
}
.container {
    width: 100%;
    padding: 40px;
}
.development {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
#planning {
    background-color: rgb(147, 82, 208);
}
#benefits {
    background-color: rgb(147, 82, 208);
}
.col-50{
    width: 100%;
    padding: 10px;
}
#testimonials .boxes {
    background-color: rgb(147, 82, 208);
}
.white{
    background-color: white;
}
#benefits .boxes {
    background-color: white;
}
#about .boxes {
    background-color: white;
}
.grey {
    color: lightgrey;
    padding-top: 50px;
}
.yellow {
    color: rgb(225, 165, 16);
}
.purple {
    background-color: rgb(147, 82, 208);
    text-align: center;
}
footer {
    color: white;
    background-color: rgb(76, 76, 76);
}
.figure {
    width: 45%;
    margin: 0 30%;
    display: block;
}
.apple {
    background-color: rgb(29, 52, 205) ;
    padding:5%;
    border-radius: 15px;
    margin: 10%;
    text-align: center;
}
.title {
    color: rgb(29, 52, 205);
    padding: 5%;
    text-align: center;
}
.text {
    padding: 3%;
    text-align:center;
    line-height: 35px;
}
.texttestimonial {
    padding: 3%;
    text-align:center;
    line-height: 35px;
}
.white-title {
    margin: 10%;
    text-align: center;
    color: white;
}
#planning {
    color: white;
    padding: 10px;
}
.black-title {
    margin: 10%;
    text-align: center;
    color: black;
}
.developement {
    color: black;
    padding: 10px;
    font-style: oblique;
    background-color: white;
    border-radius: 25px;
    margin: 3%;
}
.purple-title {
    color:rgb(147, 82, 208) ;
    margin: 10%;
    text-align: center;
}
.face {
    display: block;
    border-radius: 90%;
    width: 90%;
    height: 50%;
    margin: 5%;
}
.name {
    color: white;
    text-align: center;
    margin: 5%;
}
#testimonials .boxes{
    color: white;
}
#benefits:first-child {
    color: white;
}
.purplebotton {
    background-color: rgb(147, 82, 208);
    padding: 5%;
    margin: 5%;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    width: 50%;
    border: 0ch;
}
#benefits .purple-title {
    color:rgb(147, 82, 208) ;
    margin: 10%;
    text-align: left;
}
#benefits .boxes {
    text-align: left;
    padding: 5%;
}
.white-botton {
    background-color: white;
    padding: 5%;
    margin: 5%;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    color: rgb(147, 82, 208);
    width: 50%;
    border: 0ch;
}
#bottom .text {
    color: white;
}
footer .text {
    line-height: normal;
}
.icon {
    color: rgb(29, 52, 205);
    width: 30%;
    height: 20%;
}


@media screen and (min-width:768px) {
    .row {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
    }
    .col-68 {
        max-width: 68%;
        height: 100%;
    }
    .col-30 {
        max-width:30%;
        height: 100%;
    }
    .white-title {
        margin: 5%;
    }
    .black-title {
        margin: 5%;
    }
    .purple-title {
        margin: 5%;
    }
    .face {
        display: inline;
        border-radius: 90%;
        width: 25%;
        height: 100%;
        margin: 5%;
        float: left;
    }
    .texttestimonial {
        display: inline;
        width: 70%;
        margin-top: 10%;
    }
    #benefits .col-30 {
        max-width: 45%;
    }
    #about .col-50 {
        max-width: 50%;
    }
    #about .face {
        display: block;
        width: 50%;
    }
    #about .purple-title {
        display: block;
    }
    .white-botton {
        border-radius: 200px;
        padding: 2%;
        width: 20%;
    }
}
@media screen and (min-width:992px) {
    .container {
        max-width: 100%;
    }
    #argument .row{
        justify-content: center;
    }
    .figure {
        display: inline;
    }
    
}

